/* Global resets and shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/bgImg1.png') /*var(--main-color)*/;
  color: var(--second-color);
  font-family: Arial;
  line-height: 1.3;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/*HEADER*/

header {
  background: var(--second-color);
  color: var(--main-color);
  position: sticky;
  top: 0;
  height: 4em;
  width: inherit;
  /*z-index: 10*/;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: inherit;
  height: inherit;
  margin: 0 34px 0 34px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 1rem;
}

header nav ul li a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 20px;
}

header nav ul li a:hover {
  color: var(--third-color);
}

header .jrLogo {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  align-self: center;
  object-fit: cover;
}

header .jrLogo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*MAIN*/

main {
  border: 1px solid /*green*/ white;
}

/*SECTIONS*/

.homeSect {
  /* border: 1px solid blue;*/
  display: flex;
  justify-content: space-around;
  height: 100vh;
  padding-right: 60px;
  padding-left: 10px;
}

.homeDeets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
  width: 50%;
}

.homeDeets h3 {
  font-size: 3rem;
}

.homeDeets h1 {
  font-size: 4rem;
}

.homeDeets #jeruel {
  color: var(--third-color);
}

.homeDeets p {
  font-size: 1rem;
  /*border: 1px solid orange;*/
  width: 100%;
  font-size: 17px;
}

.homeDeets a {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  color: var(--white-color);
  background-color: var(--third-color);
  border-radius: 2px;
  width: 15%;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.homeDeets a:hover {
  color: var(--third-color);
  background: var(--second-color);
  transition: 0.3s ease-in;
  transform: scale(1.05);
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

#homeImg {
  /* border: 1px solid black; */
  display: flex;
  align-items: flex-end;
}

#homeImg img {
  height: 90%;
  /* border: 1px solid purple; */
}



footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  background: var(--bg-color);
  color: var(--footer-color);
  text-align: center;
  width: 100%;
  height: 70px;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Common elements */


form input, form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}